
*{margin: 0px;}

.font-noto {
  font-family: "Noto Serif", serif;}

.font-inter {
  font-family: "Inter", sans-serif;}  
  /*Colours*/
  .orange{color: #E95A08;}

  .light-gray{color: #8987A1;}

  .blue{color: #252432;}
  
  .transparent-colour{color: rgba(0, 0, 0, 0.5);}
  .black{color: black;}
  /*Navbar*/
  nav ul li a{
    text-decoration: none;
  }
  nav ul li{
    display: inline;
    list-style: none;
    padding-left: 20px;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .home{
    font-weight: bold;
  }
  .cart{
    font-weight: normal;
  }
  /*Banner section*/
  .banner{
    display: flex;
    justify-content: space-between;
    
    align-items: self-end;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    
  }
  .banner-title{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 13px;
  }
  .banner-des{
    font-size: 22px;

  }
  /*Our Plants Section*/
  .our-plants{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 120px;

  }
  .card-header{
    font-size: 50px;
    font-weight: bold;
  }
  .card-des{
    font-size: 22px;
    margin-bottom: 50px;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .button{
    width: 100%;
    background: #E95A08;
    color: white;
    border: none;
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    font-weight: 400;
    justify-content: center;
  }
  .card-title{
    font-size: 22px;
    font-weight: 400;
  }
  .card-price{
    font-size: 22px;
    font-weight: bold;
    
    }

  .card-img{width: 100%;}
  /*responsive for mobile*/
  @media screen and (max-width:576px) {
    .home, .shop, .about-us{
        display: none;
    }
    .navbar{
        margin-top: 30px;
        margin-right: 13px;
        margin-left: 13px;
    }
    .logo{ width: 63px;}
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .banner-img{
        position: center;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .text{
    
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 16px;
    }
    .banner-title{font-size: 32px;}
    .banner-des{font-size: 14px;}
      .card{
    grid-template-columns: repeat(2, 1fr);}
    .our-plants{
        margin: 0px 10px 0px 10px;
    }
    .br-des{display: none;}


  }

 
